version: "3"
services:

  yiluzhuanqian:
    image: firstbloodand001:yiluzhuanqian
    ports:
      - "8080"
    deploy:
      replicas: 1
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
